body {
  background-color: #0b2d16eb;
  color: #ddbc58;
  min-height: 100vh;
}

.image h2{
  font-size: 60px;
  color: #ddbc58;
}


h2, 
h3, 
h4{
  color: #ddbc58;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
}
.container h1{
  font-size: 70px;
  color: #ddbc58;
  font-family: 'Amatic SC', cursive;
}

.container h5{
  font-size: 17px;
  color: #ddbc58;
  font-family: 'Bitter', serif;

}
.container h6{
  font-size: 70px;
  color: #ddbc58;
  font-family: 'Amatic SC', cursive;
}

h1 {
  font-size: 100px;
  font-family: 'Amatic SC', cursive;
}
.container {
  padding: 40px;
  padding-right: 0;
}

.title {
  color: #ddbc58;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  gap: 20px;
}

.gallery .card {
  transition: 0.1s linear;
}

.gallery .card:hover {
  transform: scale(1.1);
  z-index: 10;
}

p {
  font-size: 12px;
}

.detail__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 500px;
  color: #ddbc58;
  overflow: hidden;
}

.detail__img::after {
  content: "";
  background-image: linear-gradient(transparent 60%, #1f1f1f);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: top;
}

.detail__name {
  position: absolute;
  z-index: 5;
  top: 100px;
}

.detail__container {
  margin-top: 205px;
  font-size: 20px;
  color: #ddbc58;
  font-family: 'Bitter', serif;
}


.category-info {
  text-align: center;
  margin-bottom: 20px;
}

.image{
  position:relative;
}

.image img{
  width:770px;
  height:200px;
}

.image h1{
  position:absolute;
  width:100%;
  color:rgb(11, 11, 11);
  line-height: 385px;
  margin:0;
  font-size: 30px;
}

.card-header-title{
  font-size: 30px;
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Delicious Handrawn', cursive;
}

.card{
  background-size: auto;
}

span, .title{
  font-size: 17px;
  color: #ddbc58;
  font-family: 'Bitter', serif;
}

h3.title.is-3{
  font-size: 17px;
  color: #ddbc58;
  font-family: 'Bitter', serif;
}


.detail__locations {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.location {
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 0.1fr 3fr 0.5fr 0.3fr;
  border-radius: 5px;
}

.location:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
  cursor: pointer;
}

p {
  font-size: 17px;
  color: #ddbc58;
  font-family: 'Bitter', serif;
}