body {
  background-color: #63dcaa;
  color: #c06565;
  min-height: 100vh;
}

h1,
h2,
h3 {
  color: #a60808;
}

.container {
  padding: 30px;
  padding-right: 0;
}

.title {
  color: #a96d95;
}

.gallery {
  /* display: grid; */
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: center;
  gap: 30px;
}

.gallery .card {
  transition: 0.1s linear;
}

.gallery .card:hover {
  transform: scale(1.1);
  z-index: 10;
}

p {
  font-size: 13px;

}

/* .detail__img {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  /* width: 100%;
  height: 300px; */
  /* background-color: #ffffff; */
  /* overflow: hidden;
} */

.detail__img::after {
  content: "";
  background-image: linear-gradient(transparent 60%, #1f1f1f);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: top;
}

.detail__name {
  /* position: absolute; */
  z-index: 5;
  top: 130px;
}

.detail__container {
  margin-top: 75px;
}

.detail__locations {
  width: 100%;
  /* display: flex; */
  flex-direction: column;
  
}

.location {
  width: 100%;
  padding: 4px;
  text-indent: 5ch;
  
  /* display: grid; */
  /* grid-template-columns: 11fr 3fr 0.5fr 0.3fr; */
  /* border-radius: 5px; */
}

.location:hover {
  background-color: hsla(150, 71%, 39%, 0.454);
  cursor: pointer;
}

.dropdown{
  background-color: hsla(150, 71%, 39%, 0.454);
  text-decoration-color: #1f1f1f;
}