{% extends 'base.html' %} {% block content %}
<img src="">
<h6>Help underserved patients close to home by giving your time and know-how.</h6><br>
<h5>Give Kids A Smile<br>
    Join 10,000 dentists annually bringing free oral care services to underserved children. More than 5.5 million children have received care since the program launched in 2003. <a href="https://www.adafoundation.org/give-kids-a-smile"> Learn how you can donate your time and expertise.</a></h5>
    <br>
    <h5>Dental Lifeline Network<br>
    With 15,000 volunteer dentists and 3,700 volunteer laboratories, Dental Lifeline Network facilitates donated, comprehensive treatment to vulnerable people with disabilities, the elderly or the medically compromised. DLN seeks to reduce the more than 2 million U.S. emergency room visits attributed annually to neglected teeth, and has more than 11,000 people currently on a wait list. <a href="https://dentallifeline.org/"> Learn how DLN can coordinate care so you can help someone near you.</a></h5>
    <br>
    <h5> Mission of Mercy<br>
    <a href="https://www.amissionofmercy.org/"> Mission of Mercy</a>, through America's Dentists Care Foundation, are events coordinated at the local level to provide basic dental care such as fillings, extractions and cleanings, with some offering limited lab work.</h5>
    <br>
    <h5>Local Community Health Centers<br>
    Federally qualified health centers provide care, including oral health care, to individuals regardless of their inability to pay. <a href="https://findahealthcenter.hrsa.gov//"> Find a community health center near you.</a></h5>
{% endblock %}