{% extends 'base.html' %} {% block content %}
<div class="category-info">
    <div class="image">
            <h1>Submit and Browse various dental professional volunteer opportunities!</h1>
            <h2>Help us care for our communities and share the love!</h2>
            <img src="https://media.istockphoto.com/id/1152375549/vector/large-group-of-people-in-the-shape-of-a-tooth-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=p0nSnOpB6Ea4eLwTwiaV17utkyS_lYRyWn8bBXtsp38=" />
        </div>
    </div>

{% comment %} <h1>Paddle Boarding Spots in and around Spokane, WA</h1>
<img src="https://media.istockphoto.com/id/1152375549/vector/large-group-of-people-in-the-shape-of-a-tooth-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=p0nSnOpB6Ea4eLwTwiaV17utkyS_lYRyWn8bBXtsp38=" alt="dental team" width="100" height="300"> {% endcomment %}
{% endblock %}