{% extends 'base.html' %}
{% block content %}
    <div class="detail__name">
        <h1 class="title">{{ professional.name }}</h1>
        <p>{{professional.bio}}</p>
    </div>
    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Update {{ professional.name }}
        </a>
      
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="{% url 'professional_update' professional.pk %}">Edit</a>
          <a class="dropdown-item" href="{% url 'professional_delete' professional.pk %}">Delete</a>
        </div>
    </div>
    <div class="detail__about">
</div>
</div>
<div class="detail__container">
    <div class="detail__locations mb-5">
        <h3 class="title is-3">Volunteer Opportunities for {{professional.name}}:</h3>
        <form class="mb-5" action="{% url 'location_create' professional.pk %}" method="post">
            {% csrf_token %}
            <div class="field has-addons">
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="event_name"
                        placeholder="Event Name"
                        required
                    />
                </div>
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="city"
                        placeholder="City"
                        required
                    />
                </div>
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="state"
                        placeholder="State"
                        required
                    />
                </div>
                <div class="control">
                    <input class="button is-primary" type="submit" value="Add Volunteer Event" />
                </div>
            </div>
        </form>
        {% for location in professional.locations.all %}
        <div class="location">
            <span>{{forloop.counter}}</span>
            <span><b>{{location.event_name}}</b></span>
            <span>{{location.city}}</span>
            <span>{{location.state}}</span>
        </div>
        {% empty %}
        <article class="message">
            <div class="message-header">
                <p>No Locations Available</p>
            </div>
        </article>
        {% endfor %}
    </div>
</div>
{% endblock %}