{% extends 'base.html' %} {% block content %}

<h1 class="title">Professionals</h1>
<h1 class="title pt-5">{{header}}</h1>

<form class="mb-5" method="get">
  <div class="field has-addons">
    <div class="control">
      <!--  Our input will search by name of professional  -->
      <input class="input" type="text" name="name" placeholder="name" />
    </div>
    <div class="control">
      <input class="button is-success" type="submit" value="Search" />
    </div>
  </div>
  <!--  This anchor tag will redirect back to professional list without a query param -->
  <a class="button is-dark" href="{% url 'professional_list' %}">Clear Search</a>
  <a class="button is-dark" href="{% url 'professional_create' %}">Add a Profession</a>
</form>
<div class="gallery">
  {% for professional in professionals %}
  <a href="">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{professional.img}}" alt="{{professional.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{professional.name}}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock %}